/* media start */

@media (max-width: 1400px) {
    .hero-main * {
        max-width: 660px;
    }

    .sponsar-ais {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 1250px) {
    .articles-about {
        flex-direction: column;
        align-items: center;
    }

    .articles-small__cards {
        max-width: 650px;
    }
}

@media (max-width: 1200px) {
    .newera-wrapper {
        justify-content: center;
    }

    .newera-image {
        display: none;
    }
}

@media (max-width: 1180px) {
    .games-back {
        max-width: 480px;
        padding: 0 20px;
    }

    .games-back:nth-child(3) {
        display: none;
    }
}

@media (max-width: 950px) {

    #hero {
        background: var(--black) !important;
    }


    .hero-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .hero-main__text {
        text-align: center;
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 970px) {


    nav {
        flex-direction: column;
    }

    .nav-brand {
        width: 100%;
    }

    .hamburger {
        display: flex !important;
    }

    .nav-menu {
        display: none;
    }

    .active {
        display: flex;
    }

    .nav-btn {
        display: none;
    }

    .activeBtn {
        display: flex;
    }
}


@media (max-width: 835px) {
    .articles-main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .articles-main__text {
        text-align: center;
    }

    .articles-main .hero-button {
        border: 3px solid var(--shadow);
    }

}



@media (max-width: 810px) {
    .games-back:nth-child(1) {
        display: none;
    }

    .hero-main__title {
        font-size: 62px;
        font-weight: 500;
        line-height: 76px;
    }

    .hero-main__text {
        max-width: 70%;
    }

    .join-title {
        font-size: 52px;
        line-height: 62px;
    }


}



@media (max-width: 740px) {
    .newera-main__title {
        font-size: 45px;
        line-height: 50px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .hero-main__title span:after {
        display: none;
    }

    .hero-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-button {
        border: 3px solid var(--shadow);
    }

}

@media (max-width: 655px) {
    .shop-main__title {
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
    }
}

@media (max-width: 610px) {
    .hero-main__title {
        font-size: 55px;
        font-weight: 500;
        line-height: 56px;
    }

    .articles-bigcard__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
    }

    .articles-bigcard__text {
        margin: 34px 28px;
    }
}

@media (max-width:590px) and (min-width:420px) {
    .articles-main__text {
        font-size: 45px;
        line-height: 64px;
    }
}

@media (max-width:420px) {
    .articles-main__text {
        font-size: 35px;
        line-height: 44px;
    }
}

@media (max-width: 570px) {
    .join-title span:after {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav-menu {
        width: 100%;
        justify-content: space-between;
        gap: 0;
        margin: 25px 0;
    }

    .hero-main__title {
        font-size: 50px;
        line-height: 70px;
    }

}

@media (max-width: 540px) {
    .shop-card__title {
        font-size: 25px;
        line-height: 30px;
    }

    .shop-card__text {
        font-size: 14px;
        line-height: 25px;
    }
}

@media (max-width: 490px) {
    .hero-main__title {
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
    }

}

@media (max-width: 460px) {

    .join-title {
        font-size: 52px;
        font-weight: 600;
        line-height: 62px;
    }

    .join-title span::after {
        display: none;
    }

    .join-form {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

}

@media (max-width: 450px) {
    .hero-main__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
    }
}

@media (max-width: 440px) {

    .sponsar-title {
        font-size: 38px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
    }

    .sponsar-title::before {
        display: none;
    }

    .shop-main__title {
        font-size: 44px;
        font-weight: 500;
        line-height: 54px;
    }


}

@media (max-width: 370px) {
    .nav-menu {
        flex-direction: column;
        gap: 20px;
    }

    .shop-card {
        padding-left: 30px;
    }

    .shop-card::before {
        display: none;
    }

    .newera-main__title {
        font-size: 35px;
        line-height: 35px;
    }
}

@media (max-width: 335px) {
    .games-title {
        font-size: 38px;
        line-height: 48px;
    }

    .articles-bigcard__title {
        font-size: 28px;
        line-height: 30px;
    }
}

@media (max-width: 330px) {
    .articles-card__title {
        font-size: 16px;
        line-height: 24px;
    }
}


@media (max-width: 950px) {
    .dark .hero-main__title {
        color: var(--shadow);
    }

    .dark .hero-main__text {
        color: var(--shadow);
    }
}