@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("./dark.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Orbitron", sans-serif;
  scroll-behavior: smooth;
}

.container {
  /* 1440 - 2 * 60 + 2 * 20 = 1360 */
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to right,
      var(--black) 50%,
      var(--blue) 50%);
  width: 100%;
  z-index: 11;
}

.navbar-shrink {
  background: var(--btn);
  padding: 15px 0;
  transition: 0.5s;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none !important;
  color: var(--white);
  font-size: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 15px;
}

.nav-menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  transition: 0.2s;
}

.nav-menu__link:hover {
  color: var(--gold);
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-btn img {
  border-radius: 50%;
}

.nav-btn img:hover {
  transition: 0.3s;
  box-shadow: 0 0 30px var(--shadow) inset;
}


.nav-btn__link {
  padding: 15px 30px;
  border: 1px solid var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  transition: 0.2s;
  min-width: 173px;
}

.nav-btn__link:hover {
  border: 1px solid var(--gold);
  color: var(--gold);
}



/* heder end  */

/* hero start */

#hero {
  padding: 190px 0 120px 0;
  background-image: linear-gradient(to right,
      var(--black) 50%,
      var(--blue) 50%);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main {
  max-width: 660px;
}

.hero-main__future {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  color: var(--blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.hero-main__future::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("../images/fire__hero.svg") no-repeat center;
}

.hero-main__title {
  margin-bottom: 43px;
  color: var(--white);
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
}

.hero-main__title span {
  position: relative;
}

.hero-main__title span::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 434px;
  height: 16px;
  display: inline-block;
  background: url("../images/line.svg") no-repeat center;
}

.hero-main__text {
  margin-bottom: 53px;
  color: var(--shadow);
  max-width: 615px;
  font-family: Orbitron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-button {
  color: var(--white);
  padding: 21px 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: var(--blue);
}

.hero-image {
  max-width: 660px;
}

.hero-img {
  width: 100%;
}

/* hero end */


/* sponsar start */

#sponsar {
  padding: 130px 0;
  background-color: var(--goldbold);
}

.sponsar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.sponsar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  max-width: 596px;
}

.sponsar-title {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: var(--sponsor);
}

.sponsar-title::before {
  position: absolute;
  bottom: -15px;
  right: 0;
  content: "";
  width: 292px;
  height: 12px;
  display: inline-block;
  background: url("../images/sponsor_line.svg") no-repeat center;
}

.sponsar-text {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.sponsar-ais {
  display: flex;
  align-items: center;
  gap: 30px;
}


/* sponsar end */

/* shop start */

#shop {
  padding: 130px 0;
  background: url("../images/shop_back.png") no-repeat;
  background-size: cover;
}

.shop-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
}

.shop-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 770px;
}

.shop-main__title {
  color: var(--white);
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  margin-bottom: 39px;
}

.shop-main__text {
  color: var(--shop);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.shop-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 35px;
  justify-content: center;
}

.shop-card {
  position: relative;
  padding: 35px 38.5px 35px 87.71px;
  border-radius: 20px;
  max-width: 637px;
  background-color: var(--card);
}

.shop-card::before {
  position: absolute;
  top: 42px;
  left: 46px;
  content: "";
  width: 33px;
  height: 30px;
  display: inline-block;
  background: url("../images/shop_icon.svg") no-repeat center;
}

.shop-card__title {
  color: var(--white);
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 19px;
}

.shop-card__text {
  color: var(--shop);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;

}


/* shop end */


/* games start */

#games {
  background-color: var(--shadow);
}

.games-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.games-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 732px;
}

.games-back svg {
  fill: var(--white);

}

.games-back:nth-child(1) {
  background: url("../images/games_back1.png") no-repeat;
  background-size: cover;
}

.games-back:nth-child(2) {
  background: url("../images/games_back_2.png") no-repeat;
  background-size: cover;
}

.games-back:nth-child(3) {
  background: url("../images/games_back_3.png") no-repeat;
  background-size: cover;
}

.games-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: var(--white);
}


/* games end */


/* newera sart */

#newera {
  background-color: var(--black);
  padding: 70px 0;
}

.newera-wrapper {
  display: flex;
  align-items: center;
}

.newera-main {
  max-width: 732px;
}

.newera-main__title {
  margin-bottom: 38px;
  color: var(--white);
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
}

.newera-main__text {
  margin-bottom: 54px;
  color: var(--shop);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.newera-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 492px;
  height: 550px;
  background: url("../images/newera_back.png") no-repeat;
  background-size: 492px 550px;

}


/* newsera end */


/* articles start */


#articles {
  padding: 75px 0 87px;
  background-color: var(--black);
}

.atricles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.articles-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.articles-main__texts {
  max-width: 652px;
}

.articles-main__text {
  color: var(--white);
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
}

.articles-about {
  display: flex;
  gap: 24px;
}

.articles-about__bigcard {
  max-width: 648px;
  border-radius: 40px;
  padding: 30px;
  transition: 0.4s;
}

.articles-about__bigcard img {
  width: 100%;
}

.articles-about__bigcard:hover {
  box-shadow: 0 0 10px var(--white);
}

.articles-bigcard__text {
  margin: 54px 28px;
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.articles-bigcard__title {
  text-transform: capitalize;
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}

.articles-small__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 24px;
}

.articles-cards__card {
  max-width: 306px;
  border-radius: 40px;
  padding: 30px;
  transition: 0.4s;

}

.articles-cards__card:hover {
  box-shadow: 0 0 10px var(--white);
}

.articles-cards__card img {
  width: 100%;
}

.articles-card__text {
  margin: 30px 0 20px;
  color: var(--blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.articles-card__title {
  color: var(--white);
  font-size: 23px;
  font-weight: 400;
  line-height: 34px;
  text-transform: capitalize;
}


/* join start */

#join {
  background: url("../images/join_back.png") no-repeat;
  background-size: cover;
  padding: 130px 0;
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 848px;
  margin: 0 auto;
}

.join-title {
  color: var(--join);
  font-size: 72px;
  font-weight: 400;
  line-height: 82px;
  text-align: center;
}


.join-title span {
  position: relative;
}

.join-title span::after {
  position: absolute;
  right: 0;
  bottom: -18px;
  content: "";
  width: 434px;
  height: 16px;
  display: inline-block;
  background: url("../images/sponsor_line.svg") no-repeat;
  background-size: 434px 16px;
}

.join-text {
  color: var(--jtext);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.join-form {
  display: flex;
  max-width: 670px;
}

.join-input {
  padding: 21px 0 21px 13px;
  padding-left: 13px;
  width: 100%;
  outline: none;
}

.join-input:focus {
  box-shadow: 0 3px 2px var(--black);
}

.join-input::placeholder {
  color: var(--jtext);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.join-btn {
  width: 225px;
  padding: 21px 8px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.join-btn:hover {
  transition: 2s;
  box-shadow: inset 220px 0 10px var(--black);
}


#backtop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--blue);
  box-shadow: 0 0 40px var(--btn);
  border: none;
}

.backtop-show {
  display: inline-block !important;
}
